<div class="card">
  <div class="header">
    <!-- 'https://www.rabobank.com/en/images/A%20Kerndocumenten.jpg' -->

    <img src="{{cardImage}}"/>
    <h4>{{ title }}
      <small><b>(<i *ngIf="originUrl" class="fa fa-tags" tooltip="{{originUrl}}"></i> {{origin}})</b></small>
    </h4>

  </div>
  <div class="card-content">

    <progressbar class="rating" *ngIf="tempRating && tempRating > 0.75" placement="bottom"
                 tooltip="Estimated  relative relevance: {{ (tempRating * 100).toFixed(0) }}%"
                 [animate]="false" type="success" [value]="(tempRating * 100).toFixed(0)">
      <b>{{ (tempRating * 100).toFixed(0) }}%</b>
    </progressbar>

    <progressbar class="rating" *ngIf="tempRating && tempRating > 0.5 && tempRating < 0.75" placement="bottom"
                 tooltip="Estimated  relative relevance: {{ (tempRating * 100).toFixed(0) }}%"
                 [animate]="false" type="info" [value]="(tempRating * 100).toFixed(0)">
      <b>{{ (tempRating * 100).toFixed(0) }}%</b>
    </progressbar>

    <progressbar class="rating" *ngIf="tempRating && tempRating > 0.1 && tempRating < 0.5" placement="bottom"
                 tooltip="Estimated  relative relevance: {{ (tempRating * 100).toFixed(0) }}%"
                 [animate]="false" type="warning" [value]="(tempRating * 100).toFixed(0)">
      <b>{{ (tempRating * 100).toFixed(0) }}%</b>
    </progressbar>
    <div>
      {{ getFirstWords(bodyText, 100)}}
    </div>
    <div class="gradient"></div>
  </div>
  <div class="card-read-more">
    <a tooltip="Click to open details view." class="btn btn-link btn-block" (click)="readMoreClicked()">see details...</a>
  </div>
</div>
