<div class="card">
  <div class="header">
    <!-- 'https://www.rabobank.com/en/images/A%20Kerndocumenten.jpg' -->

    <img src="{{cardImage}}"/>
    <h4>{{ title }}</h4>

    <div class="rating">
      <rating [(ngModel)]="tempRating" [max]="10" [readonly]="true"></rating>
    </div>
  </div>
  <div class="card-content">
    <div>
      <small><b>(src:{{origin}}
      <a *ngIf="originUrl" href="{{originUrl}}">
        <i class="fa fa-globe"></i>&nbsp;{{originUrl}}</a></b></small>)
      {{ getFirstWords(bodyText, 100)}}
    </div>
    <div class="gradient"></div>
  </div>
  <div class="card-read-more">
    <a class="btn btn-link btn-block" (click)="readMoreClicked()">see details...</a>
  </div>
</div>
