.back-button {
  text-align:center;
  /*width:100%;*/
}
.thumbnail {
  background-color:rgba(0,0,0,0.1);
}
.thumbnail:hover {
  background-color:rgba(215, 164, 84, 0.5);
  border-color: #D7A454;
}
.thumbnail > img {
  height: 130px;
}
.thumbnail.disabled > img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*FIXME SR get the size out of bootstrap itself. */
@media (min-width: 992px) {
  .slide02 {
    /*background: url(../../../public/images/dashboard/0-bg-main.jpg) center 30% no-repeat;*/
    background: center 30% no-repeat;
    background-size: cover;
  }
}

