<div class="jumbotron">
  <p>Welcome to SAC groundwater hub</p>
</div>

<div class="slide01">
  <div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-2"><a routerLink="/dashboard/maps" class="thumbnail"
                             tooltip="Maps &amp; spatial Datasets"><img
      src="../../../public/images/1-maps.jpg"></a></div>
    <div class="col-md-2"><a routerLink="/dashboard/climate" class="thumbnail"
                             tooltip="Climate"><img src="../../../public/images/2-climate.jpg"></a>
    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-2"><a routerLink="/dashboard/gwrivers" class="thumbnail"
                             tooltip="Groundwater &amp; rivers"><img
      src="../../../public/images/8-gw-sw-inter-rivers.jpg"></a></div>
    <div class="col-md-8">&nbsp;</div>
    <div class="col-md-2"><a routerLink="/dashboard/policy" class="thumbnail"
                             tooltip="Policy"><img src="../../../public/images/3-policy.jpg"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><a routerLink="/dashboard/gwage" class="thumbnail"
                             tooltip="Groundwater Age"><img
      src="../../../public/images/7-gw-age.jpg"></a></div>
    <div class="col-md-8">&nbsp;</div>
    <div class="col-md-2"><a routerLink="/dashboard/waterbudget" class="thumbnail"
                             tooltip="Water Budget"><img
      src="../../../public/images/4-water-budget.jpg"></a></div>
  </div>
  <div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-2"><a routerLink="/dashboard/geolmodels" class="thumbnail"
                             tooltip="Geological models"><img
      src="../../../public/images/6-geol-models.jpg"></a></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-2"><a routerLink="/dashboard/gwchemistry" class="thumbnail"
                             tooltip="Groundwater chemistry"><img
      src="../../../public/images/5-gw-chemistry.jpg"></a></div>
    <div class="col-md-2">&nbsp;</div>
  </div>
</div>
