<div *ngIf="category">
  <a [routerLink]="category.parent !== 'main' ? ['./cards'] : ['/dashboard/' + category.query_string ]"
     [queryParams]="category.parent !== 'main' ? {'query': category ? category.query_string : 'title:groundwater', 'categoryId' : category ? category.id : 0 }:{ 'categoryId' : category ? category.id : 0 }"
     class="thumbnail" tooltip="{{ category ? category.item_name : '' }}{{ category ? ' -  ' + category.description : '' }}"><img
     src="{{ categoryImg }}">

    {{ category ? category.item_name : '' }}

  </a>
</div>
