.thumbnail > img {
  height: 130px;
}
.thumbnail.disabled > img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*FIXME SR get the size out of bootstrap itself. */
@media (min-width: 992px) {
  .slide01 {
    background: url(../../../public/images/0-bg-main.jpg) center no-repeat;
    background-size: cover;
  }
}
