<div class="jumbotron">
  <p>Welcome to SAC groundwater hub</p>
</div>

<div class="slide01">
  <div class="row">
    <div class="col-md-4">&nbsp;</div>

    <div class="col-md-2"><a routerLink="/dashboard/1-maps" class="thumbnail"
                             tooltip="Maps &amp; spatial Datasets"><img
      src="../../../public/images/1-maps.jpg"></a></div>

    <div class="col-md-2"><a routerLink="/dashboard/2-climate" class="thumbnail"
                             tooltip="Climate"><img src="../../../public/images/2-climate.jpg"></a>
    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-md-2"><a routerLink="/dashboard/8-gw-use" class="thumbnail"
                             tooltip="Groundwater use"><img
      src="../../../public/images/8-gw-use.jpg"></a></div>

    <div class="col-md-8">&nbsp;</div>

    <div class="col-md-2"><a routerLink="/dashboard/3-policy" class="thumbnail"
                             tooltip="Policy"><img src="../../../public/images/3-policy.jpg"></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"><a routerLink="/dashboard/7-gw-age" class="thumbnail"
                             tooltip="Groundwater Age"><img
      src="../../../public/images/7-gw-age.jpg"></a></div>

    <div class="col-md-8">&nbsp;</div>

    <div class="col-md-2"><a routerLink="/dashboard/4-water-budget" class="thumbnail"
                             tooltip="Water Budget"><img
      src="../../../public/images/4-water-budget.jpg"></a></div>
  </div>

  <div class="row">
    <div class="col-md-2">&nbsp;</div>

    <div class="col-md-2"><a routerLink="/dashboard/6-geol-models" class="thumbnail"
                             tooltip="Geological models"><img
      src="../../../public/images/6-geol-models.jpg"></a></div>

    <div class="col-md-4">&nbsp;</div>

    <div class="col-md-2"><a routerLink="/dashboard/5-gw-chemistry" class="thumbnail"
                             tooltip="Groundwater chemistry"><img
      src="../../../public/images/5-gw-chemistry.jpg"></a></div>

    <div class="col-md-2">&nbsp;</div>
  </div>
</div>
