<div class="jumbotron">
  <p>Read more about {{ category }} <i class="fa fa-tint" aria-hidden="true"></i></p>
</div>
<div class="slide02">
  <div class="row">
    <div class="col-md-2"><a routerLink="/dashboard" class="thumbnail" tooltip="back to main dashboard"><i class="fa fa-arrow-left"
                                                                          aria-hidden="true"></i><img
      src="../../../public/images/0-bg-main.jpg"></a></div>

    <div class="col-md-2">&nbsp;</div>

    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="placeholder"><img src="../../../public/images/0-placeholder-water-icon.jpg"></a>
    </div>

    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="{{ category }}"><img src="../../../public/images/4-3-gw-inflow.jpg"></a>
    </div>

    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="{{ category }}"><img src="../../../public/images/4-4-recharge.jpg"></a>
    </div>

    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="placeholder"><img src="../../../public/images/0-placeholder-water-icon.jpg"></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">&nbsp;</div>
    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="{{ category }}"><img src="../../../public/images/4-5-gw-lakes.jpg"></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="{{ category }}"><img
      src="../../../public/images/4-9-gw-interaction.jpg"></a></div>

    <div class="col-md-8">&nbsp;</div>

    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="{{ category }}"><img src="../../../public/images/4-6-gw-models.jpg"></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="placeholder"><img src="../../../public/images/0-placeholder-water-icon.jpg"></a>
    </div>

    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="{{ category }}"><img
      src="../../../public/images/4-8-gw-use.jpg"></a></div>

    <div class="col-md-4">&nbsp;</div>

    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="{{ category }}"><img
      src="../../../public/images/4-7-discharge-sea.jpg"></a></div>

    <div class="col-md-2"><a routerLink="/search" class="thumbnail" tooltip="placeholder"><img src="../../../public/images/0-placeholder-water-icon.jpg"></a>
    </div>
  </div>
</div>
