<div class="jumbotron">
  <p>{{ category }} <i class="fa fa-tint" aria-hidden="true"></i> {{ description }}</p>
</div>
<div class="slide02" [ngStyle]="{'background-image': 'url(' + bgImage.imgUrl + ')'}">

  <div class="row" id="row-1">

    <div class="col-md-2">
      <div class="back-button">
        <a routerLink="/dashboard" class="thumbnail" tooltip="back to main dashboard">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;back</a>
      </div>
    </div>

    <div class="col-md-2">&nbsp;</div>

    <div class="col-md-2"  id="category-7">
      <sac-gwh-dashboard-button [category]="children[7]" [categoryImg]="childrenImg[7]"></sac-gwh-dashboard-button>
    </div>

    <div class="col-md-2" id="category-0">
      <sac-gwh-dashboard-button [category]="children[0]" [categoryImg]="childrenImg[0]"></sac-gwh-dashboard-button>
    </div>

    <div class="col-md-2" id="category-1">
      <sac-gwh-dashboard-button [category]="children[1]" [categoryImg]="childrenImg[1]"></sac-gwh-dashboard-button>
    </div>

    <div class="col-md-2"  id="category-8">
      <sac-gwh-dashboard-button [category]="children[8]" [categoryImg]="childrenImg[8]"></sac-gwh-dashboard-button>
    </div>
  </div>

  <div class="row" id="row-2">

    <div class="col-md-10"></div>

    <div class="col-md-2" id="category-2">
      <sac-gwh-dashboard-button [category]="children[2]" [categoryImg]="childrenImg[2]"></sac-gwh-dashboard-button>
    </div>

  </div>

  <div class="row" id="row-3">

    <div class="col-md-2"  id="category-3">
      <sac-gwh-dashboard-button [category]="children[3]" [categoryImg]="childrenImg[3]"></sac-gwh-dashboard-button>
    </div>

    <div class="col-md-8">&nbsp;</div>

    <div class="col-md-2" id="category-4">
      <sac-gwh-dashboard-button [category]="children[4]" [categoryImg]="childrenImg[4]"></sac-gwh-dashboard-button>
    </div>
  </div>

  <div class="row" id="row-4">

    <div class="col-md-2"  id="category-10">
      <sac-gwh-dashboard-button [category]="children[10]" [categoryImg]="childrenImg[10]"></sac-gwh-dashboard-button>
    </div>

    <div class="col-md-2"  id="category-5">
      <sac-gwh-dashboard-button [category]="children[5]" [categoryImg]="childrenImg[5]"></sac-gwh-dashboard-button>
    </div>

    <div class="col-md-4">&nbsp;</div>

    <div class="col-md-2"  id="category-6">
      <sac-gwh-dashboard-button [category]="children[6]" [categoryImg]="childrenImg[6]"></sac-gwh-dashboard-button>
    </div>

    <div class="col-md-2"  id="category-9">
      <sac-gwh-dashboard-button [category]="children[9]" [categoryImg]="childrenImg[9]"></sac-gwh-dashboard-button>
    </div>
  </div>
</div>
