<div class="jumbotron">
  <p>Read more about waterbudget</p>
</div>
<div class="slide02">
  <div class="row">
    <div class="col-md-2"><a routerLink="/home" class="thumbnail"><i class="fa fa-arrow-left" aria-hidden="true"></i><img src="../../../public/images/slide01-gw.jpg"></a></div>
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-2"><a class="thumbnail disabled"><img src="../../../public/images/2-1-gw-inflow.jpg"></a></div>
    <div class="col-md-2"><a class="thumbnail disabled"><img src="../../../public/images/2-2-recharge.jpg"></a></div>
    <div class="col-md-4">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-10">&nbsp;</div>
    <div class="col-md-2"><a class="thumbnail disabled"><img src="../../../public/images/2-3-gw-lakes.jpg"></a></div>
  </div>
  <div class="row">
    <div class="col-md-2"><a class="thumbnail disabled"><img src="../../../public/images/2-7-gw-interaction.jpg"></a></div>
    <div class="col-md-8">&nbsp;</div>
    <div class="col-md-2"><a class="thumbnail disabled"><img src="../../../public/images/2-4-gw-models.jpg"></a></div>
  </div>
  <div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-2"><a class="thumbnail disabled"><img src="../../../public/images/2-6-gw-use.jpg"></a></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-2"><a class="thumbnail disabled"><img src="../../../public/images/2-5-discharge-sea.jpg"></a></div>
    <div class="col-md-2">&nbsp;</div>
  </div>
</div>
