.thumbnail {
  background-color:rgba(0,0,0,0.1);
}
.thumbnail:hover {
  background-color:rgba(215, 164, 84, 0.5);
  border-color: #D7A454;
}
.thumbnail > img {
  height: 130px;
}
.thumbnail.disabled > img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
