<div class="jumbotron">
  <p>Welcome to the SAC groundwater hub</p>
</div>

<div class="slide01">
  <div class="row" id="row-1">

    <div class="col-md-4">&nbsp;</div>

    <div class="col-md-2" id="category-0">
      <app-sac-gwh-dashboard-button [category]="categoryObjs[0]" [categoryImg]="categoryImgs[0]"></app-sac-gwh-dashboard-button>
    </div>

    <div class="col-md-2" id="category-1">
      <app-sac-gwh-dashboard-button [category]="categoryObjs[1]" [categoryImg]="categoryImgs[1]"></app-sac-gwh-dashboard-button>
    </div>

    <div class="col-md-4">&nbsp;</div>

  </div>

  <div class="row" id="row-2">

    <div class="col-md-2" id="category-7">
      <app-sac-gwh-dashboard-button [category]="categoryObjs[7]" [categoryImg]="categoryImgs[7]"></app-sac-gwh-dashboard-button>
    </div>

    <div class="col-md-8">&nbsp;</div>

    <div class="col-md-2" id="category-2">
      <app-sac-gwh-dashboard-button [category]="categoryObjs[2]" [categoryImg]="categoryImgs[2]"></app-sac-gwh-dashboard-button>
    </div>

  </div>

  <div class="row" id="row-3">

    <div class="col-md-2" id="category-6">
      <app-sac-gwh-dashboard-button [category]="categoryObjs[6]" [categoryImg]="categoryImgs[6]"></app-sac-gwh-dashboard-button>
    </div>

    <div class="col-md-8">&nbsp;</div>

    <div class="col-md-2" id="category-3">
      <app-sac-gwh-dashboard-button [category]="categoryObjs[3]" [categoryImg]="categoryImgs[3]"></app-sac-gwh-dashboard-button>
    </div>

  </div>

  <div class="row" id="row-4">

    <div class="col-md-2">&nbsp;</div>

    <div class="col-md-2" id="category-5">
      <app-sac-gwh-dashboard-button [category]="categoryObjs[5]" [categoryImg]="categoryImgs[5]"></app-sac-gwh-dashboard-button>
    </div>

    <div class="col-md-4">&nbsp;</div>

    <div class="col-md-2" id="category-4">
      <app-sac-gwh-dashboard-button [category]="categoryObjs[4]" [categoryImg]="categoryImgs[4]"></app-sac-gwh-dashboard-button>
    </div>

    <div class="col-md-2">

    </div>

  </div>
</div>
