<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

<div class="jumbotron">
  <h1>Search</h1>
  <p>WOW! Search Form!! In Jumbotron!</p>

  <form>
    <div class="form-group">
      <label for="search.query">query</label>
      <input [(ngModel)]="search.query" placeholder="search query" id="search.query" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div class="form-group">
      <label for="search.date.from">Date</label>
      <input [(ngModel)]="search.fromDate" placeholder="1970-01-01" id="search.date.from" [ngModelOptions]="{standalone: true}"/>
      <input [(ngModel)]="search.toDate" placeholder="1970-01-01" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div class="form-group">
      <label for="search.bboxwkt">bboxWkt</label>
      <input [(ngModel)]="search.bboxWkt" placeholder="ENVELOPE(-180,180,90,-90)" id="search.bboxwkt" [ngModelOptions]="{standalone: true}"/>
      <p class="help-block">Example block-level help text here.</p>
    </div>
  </form>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Search Results</div>
  <div class="panel-body">
    <div class="list-group">
      <a *ngFor="let result of results"
         href="#"
         class="list-group-item"
         [class.active]="result===selectedResult"
         (click)="onSelect(result)">
        <span class="badge">{{result.title}}</span> {{result.title}}
      </a>
    </div>
  </div>
</div>

<my-result-detail [result]="selectedResult"></my-result-detail>
