<div class="jumbotron">
  <p>In the <b><i class="fa fa-line-chart"></i>&nbsp;view timeseries</b> view you can explore timeseries stored in a Sensor Observation Service (SOS).</p>
  <p>The layout of the chart can be fully customized within the online editor of
    <a href="https://plot.ly/" target="_blank">Plotly</a>
    by clicking on the <i class="fa fa-save"></i> icon in the toolbar of the plot once time series are added.</p>
</div>

<div class="row">
  <div class="col-md-8 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">time series plot</div>
      <div class="panel-body">
        <div *ngIf="isLoading" class="loadingOverlay">
          <h1><a class="fa fa-spinner fa-spin"></a> loading...</h1>
        </div>
        <div id="plotly"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">time series configuration</div>
      <div class="panel-body">
        <div *ngIf="isLoading" class="loadingOverlay">
          <h1><a class="fa fa-spinner fa-spin"></a> loading...</h1>
        </div>

        <div *ngIf="!timeseries || timeseries.length === 0"
             class="alert alert-warning" role="alert">
          No timeseries configured at the moment. Please click the <b><i class="fa fa-plus-circle"></i>&nbsp;add new
          time series</b> button below to add a new timeseries.
        </div>

        <accordion>
          <accordion-group *ngFor="let ts of timeseries; let i = index" #timeseriesGroup>
            <div accordion-heading>
              <i class="fa fa-pull-left fa-fw"
                 [ngClass]="{'fa-chevron-down': timeseriesGroup?.isOpen, 'fa-chevron-right': !timeseriesGroup?.isOpen}" tooltip="Click open for details"></i>
              {{ts.data.name }}

              <i class="fa fa-pull-right fa-border fa-trash" (click)="deleteTimeseries(i)" tooltip="Delete this time-series"></i>
              <i class="fa fa-pull-right fa-border fa-gears" (click)="openTimeseriesConfigurator($event, i)" tooltip="Configure this time-series"></i>

            </div>
            <table class="table-bordered table-condensed">
              <tr *ngIf="ts.timeseriesName"><td>{{ts.timeseriesName}}</td></tr>
              <tr *ngIf="ts.sosUrl"><td>URL: {{ts.sosUrl}}</td></tr>
              <tr><td>Export/download data<br>
                <a role="button" class="btn btn-info" (click)="exportTimeseries(i, 'http://www.opengis.net/waterml/2.0')"> as WML2 <i class="fa fa-file-zip-o" tooltip="Export/download data as WML2"></i></a>
                <a role="button" class="btn btn-info" (click)="exportTimeseries(i, 'application/vnd.ms-excel')">Excel spreadsheet <i class="fa fa-file-excel-o" tooltip="Export/download data as Excel Spreadsheet"></i></a>
                <a role="button" class="btn btn-info" (click)="exportTimeseries(i, 'text/csv')">CSV file <i class="fa fa-file-text-o" tooltip="Export/download data as CSV file"></i></a>
              </td></tr>
              <tr *ngIf="ts.uom"><td>Unit: {{ts.uom}}</td></tr>
              <tr *ngIf="ts.fromDate"><td>from: {{ts.fromDate}}</td></tr>
              <tr *ngIf="ts.toDate"><td>to: {{ts.toDate}}</td></tr>
              <tr *ngIf="ts.offering"><td>Offering: {{ts.offering}}</td></tr>
              <tr *ngIf="ts.procedure"><td>Procedure: {{ts.procedure}}</td></tr>
              <tr *ngIf="ts.observedProperty"><td>Observed property: {{ts.observedProperty}}</td></tr>
              <tr *ngIf="ts.featureOfInterest"><td>Feature: {{ts.featureOfInterest}}</td></tr>
              <tr *ngIf="ts.responseFormat"><td>Default data format: {{ts.responseFormat}}</td></tr>
            </table>
          </accordion-group>
        </accordion>
        <br *ngIf="timeseries && timeseries.length > 0"/> <!-- this is a hack because theres a margin error with accordion -->
        <button [disabled]="isLoading" class="btn btn-primary btn-group-justified" (click)="openTimeseriesConfigurator($event, -1)"><i
          class="fa fa-plus-circle"></i>&nbsp;add new time series
        </button>

      </div>
      <div class="panel-footer">
        <div align="right">
          <button [disabled]="isLoading" class="btn btn-default" (click)="onAddNgmpExample()"><i
            class="fa fa-plus-circle"></i>&nbsp;add NGMP Example Configuration
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<app-sac-gwh-timeseries-configurator-modal #timeseriesConfiguratorRef></app-sac-gwh-timeseries-configurator-modal>
