<a *ngIf="theLink" [popover]="popTemplate"
   #pop="bs-popover"
   placement="auto"
   popoverTitle="Follow link?">{{ theLink }}</a>

<ng-template #popTemplate>
  <p>This link will open a new window with a file download or another website.
    By clicking this link you confirm that you have read and agree to the terms and conditions.</p>
  <p *ngIf="licenseComment">{{ licenseComment }}</p>
  <a [href]="theLink" role="button" class="btn btn-info" target="_blank">Ok, I agree.</a>
  <button class="btn btn-warning" (click)="pophide()">Cancel!</button>
</ng-template>
