<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Add new Metadata record</div>

      <div class="panel-body">
        <form name="form" id="metaform" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm"
              novalidate>
          <tabset>
            <tab [heading]="tabs[0].title" [active]="tabs[0].active"  (select)="tabs[0].active = true"
                 (deselect)="tabs[0].active = false">
              <div class="list-group">

                  <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_identificationInfo_MD_DataIdentification_CI_Citation_gmd_title.valid }">
                    <label class="control-label"
                           for="gmd_identificationInfo_MD_DataIdentification_CI_Citation_gmd_title"
                           tooltip="Title of the resource">Title*:</label>
                    <div class="controls">
                      <input type="text"
                             name="gmd_identificationInfo_MD_DataIdentification_CI_Citation_gmd_title"
                             id="gmd_identificationInfo_MD_DataIdentification_CI_Citation_gmd_title"
                             [(ngModel)]="metadata.title"
                             placeholder="enter a title here"
                             #gmd_identificationInfo_MD_DataIdentification_CI_Citation_gmd_title="ngModel"
                             class="form-control" required minlength="1">
                      <div *ngIf="f.submitted && !gmd_identificationInfo_MD_DataIdentification_CI_Citation_gmd_title.valid"
                           class="help-block">Title is required</div>
                    </div>
                  </div>

                  <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !keywords.valid }">
                    <label class="control-label" for="keywords"
                           tooltip="Comma-separated list of useful thematic keywords.">Keywords (multiple,
                      comma separated)*:</label>
                    <div class="controls">
                      <input type="text" name="keywords" id="keywords"
                             placeholder="hydrology, groundwater levels"
                             [(ngModel)]="metadataKeywordString"
                             #keywords="ngModel" class="form-control" required minlength="1">
                    </div>
                    <div *ngIf="f.submitted && !keywords.valid"
                         class="help-block">Keywords are required</div>
                  </div>

                  <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_identificationInfo_MD_DataIdentification_abstract.valid }">
                    <label class="control-label"
                           for="gmd_identificationInfo_MD_DataIdentification_abstract"
                           tooltip="Abstract/Description for the resource">Abstract/Description*:</label>
                    <div class="controls">
                  <textarea name="gmd_identificationInfo_MD_DataIdentification_abstract"
                            id="gmd_identificationInfo_MD_DataIdentification_abstract"
                            [(ngModel)]="metadata.abstrakt"
                            #gmd_identificationInfo_MD_DataIdentification_abstract="ngModel" class="form-control"
                            required minlength="1"></textarea>
                    </div>
                    <div *ngIf="f.submitted && !gmd_identificationInfo_MD_DataIdentification_abstract.valid"
                         class="help-block">Abstract is required</div>
                  </div>

                  <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_identificationInfo_MD_DataIdentification_TopicCategoryCode.valid }">
                    <label class="control-label"
                           for="gmd_identificationInfo_MD_DataIdentification_TopicCategoryCode"

                           tooltip="Topic Category as general theme of the resource from suggested ISO/ANZLIC categories.">Topic Category*:</label>
                    <div class="controls">
                      <select class="span5 form-control"
                              name="gmd_identificationInfo_MD_DataIdentification_TopicCategoryCode"
                              id="gmd_identificationInfo_MD_DataIdentification_TopicCategoryCode"
                              [(ngModel)]="metadata.topicCategoryCode"
                              #gmd_identificationInfo_MD_DataIdentification_TopicCategoryCode="ngModel" required>
                        <!-- TODO SR create a "allowed values" enum in the backend and push that to frontend-->
                        <option *ngFor="let topicCategory of validValues.topicCategory"
                                [ngValue]="topicCategory.value"
                                [selected]="topicCategory.selected">
                          {{topicCategory.description}}
                        </option>
                      </select>
                    </div>
                    <div *ngIf="f.submitted && !gmd_identificationInfo_MD_DataIdentification_TopicCategoryCode.valid"
                         class="help-block">General topic theme of  is required</div>
                  </div>

                  <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_hierarchyLevelName.valid }">
                    <label class="control-label" for="gmd_hierarchyLevelName"
                           tooltip="Type of resource (dataset, service ...).">Type of Resource*:</label>
                    <div class="controls">
                      <select class="span5 form-control" name="gmd_hierarchyLevelName"
                              id="gmd_hierarchyLevelName"
                              [(ngModel)]="metadata.hierarchyLevelName"
                              #gmd_hierarchyLevelName="ngModel" required>
                        <option *ngFor="let hierarchyLevelName of validValues.hierarchyLevelName"
                                [ngValue]="hierarchyLevelName.value"
                                [selected]="hierarchyLevelName.selected">
                          {{hierarchyLevelName.description}}
                        </option>
                      </select>
                    </div>
                    <div *ngIf="f.submitted && !gmd_hierarchyLevelName.valid"
                         class="help-block">Type of resource is required</div>
                  </div>

                  <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_identificationInfo_MD_DataIdentification_MD_Resolution_scaleDenominator.valid }">
                    <label class="control-label"
                           for="gmd_identificationInfo_MD_DataIdentification_MD_Resolution_scaleDenominator"
                           tooltip="EquivalentScale denominator, e.g. 1:50000">Geographical
                      Scale*:</label>
                    <div class="controls">
                      <select class="span5 form-control"
                              name="gmd_identificationInfo_MD_DataIdentification_MD_Resolution_scaleDenominator"
                              id="gmd_identificationInfo_MD_DataIdentification_MD_Resolution_scaleDenominator"
                              [(ngModel)]="metadata.scale"
                              #gmd_identificationInfo_MD_DataIdentification_MD_Resolution_scaleDenominator="ngModel"
                              required>
                        <option *ngFor="let scale of validValues.scale"
                                [ngValue]="scale.value"
                                [selected]="scale.selected">
                          {{scale.description}}
                        </option>
                      </select>
                    </div>
                    <div *ngIf="f.submitted && !gmd_identificationInfo_MD_DataIdentification_MD_Resolution_scaleDenominator.valid"
                         class="help-block">A scale indication is required</div>
                  </div>

                <div class="control-group list-group-item">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(0, 1)">next <i class="fa fa-chevron-right"></i></button>
                </div>
              </div>
              </div>
            </tab>

            <tab [heading]="tabs[1].title" [active]="tabs[1].active"  (select)="tabs[1].active = true"
                 (deselect)="tabs[1].active = false">
              <div class="control-group list-group-item">
                <div class="control-group list-group-item">
                  <!--             TODO SR this needs a custom validator!
                  http://stackoverflow.com/questions/42038099/validation-on-a-list-of-checkboxes-angular-2
                  https://stackoverflow.com/questions/39277283/angular2-group-of-checkboxes-with-required-attribute#
                                  <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !smartCategory.valid }">
                  -->
                  <label class="control-label" for="smartCategory"
                         tooltip="Select at least one of the following categories.">SMART Categories (select at least one)*:</label>
                  <div class="controls" id="smartCategory">
                    <div class = "checkbox"
                         *ngFor = "let cat of validValues.smartCategory; let i = index">
                      <label><input type="checkbox" [checked]="validValues.smartCategory[i].selected" (click)="checkboxClicked(i)"/>
                        {{cat['description']}}
                      </label>
                    </div>
                  </div>
                  <!--
                                    <div *ngIf="f.submitted && !smartCategory.valid"
                                         class="help-block">Please select at least one category.</div>
                  -->
                </div>
              </div>
              <div class="control-group list-group-item">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(1, 0)">back <i class="fa fa-chevron-left"></i></button>
                  <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(1, 2)">next <i class="fa fa-chevron-right"></i></button>
                </div>
              </div>
            </tab>

            <tab [heading]="tabs[2].title" [active]="tabs[2].active"  (select)="tabs[2].active = true"
                 (deselect)="tabs[2].active = false">

                <div class="control-group list-group-item">
                  <label class="control-label"
                         for="gmd_identificationInfo_MD_DataIdentification_extent_Description"
                         tooltip="Location, region or placename related to the resource.">Location
                    Description:</label>
                  <div class="controls">
                    <input class="span7 form-control" type="text"
                           id="gmd_identificationInfo_MD_DataIdentification_extent_Description"
                           name="gmd_identificationInfo_MD_DataIdentification_extent_Description"
                           placeholder="Manawatu-Wanganui (Horizons)"
                           [(ngModel)]="metadata.extent.description"
                           #gmd_identificationInfo_MD_DataIdentification_extent_Description="ngModel">
                  </div>
                </div>

                <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_referenceSystemInfo.valid }">
                  <label class="control-label" for="gmd_referenceSystemInfo"
                         tooltip="Geographic Reference System related to the resource.">Reference
                    System*:</label>
                  <div class="controls">
                    <select class="span5 form-control" name="gmd_referenceSystemInfo" id="gmd_referenceSystemInfo"
                            [(ngModel)]="metadata.extent.referenceSystem"
                            #gmd_referenceSystemInfo="ngModel" required>
                      <option *ngFor="let referenceSystem of validValues.referenceSystem"
                              [ngValue]="referenceSystem.value"
                              [selected]="referenceSystem.selected">
                        {{referenceSystem.description}}
                      </option>
                    </select>
                  </div>
                  <div *ngIf="f.submitted && !gmd_referenceSystemInfo.valid"
                       class="help-block">Geographic Reference System / Coordinate System is required</div>
                </div>

                <div class="control-group list-group-item" >
                  <label class="control-label" for="mapExtentCoordinatesDiv"
                         tooltip="Zoom the map to include into the area of interest.">Geographical
                    Extent:</label>
                  <div class="controls">
                    <div id="mapExtentCoordinatesDiv" style="border:1px solid red; width:640px; height:360px">
                      <app-sac-gwh-ol3-map [mapExtent]="metadata.extent.mapExtentCoordinates" (onBboxChange)="bboxChanged($event)"></app-sac-gwh-ol3-map>
                    </div>

                  </div>
                </div>

              <div class="control-group list-group-item">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(2, 1)">back <i class="fa fa-chevron-left"></i></button>
                <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(2, 3)">next <i class="fa fa-chevron-right"></i></button>
              </div>
              </div>
            </tab>


            <tab [heading]="tabs[3].title" [active]="tabs[3].active"  (select)="tabs[3].active = true"
                 (deselect)="tabs[3].active = false">


                <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted  && !gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date_dateType.valid }">
                  <label class="control-label"
                         for="gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date_dateType"
                         tooltip="Choose a type for a date in relation to the resource.">Date Type*:</label>
                  <select class="span3 form-control"
                          name="gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date_dateType"
                          id="gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date_dateType"
                          [(ngModel)]="metadata.citation.ciDateType"
                          #gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date_dateType="ngModel"
                          required>
                    <option *ngFor="let ciDateType of validValues.ciDateType"
                            [ngValue]="ciDateType.value"
                            [selected]="ciDateType.selected">
                      {{ciDateType.description}}
                    </option>
                  </select>
                  <div *ngIf="f.submitted && !gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date_dateType.valid"
                       class="help-block">Date type is required</div>
                </div>

                <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date.valid }">

                  <label class="control-label"
                         for="showDate"
                         tooltip="Date to the resource.">Date*:</label>

                  <div class="input-group" dropdown autoClose="outsideClick">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" dropdownToggle><i class="fa fa-calendar"></i></button>
                    </span>

                    <div class="dropdown-menu datepicker-dropdown" dropdownMenu aria-labelledby="split-button">
                      <div style="display:inline-block;" class="collapse">
                        <datepicker id="gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date"
                                    name="gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date"
                                    [(ngModel)]="_distributionCiDate"
                                    (selectionDone)="onCitationDateSelectionDone($event)"
                                    #gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date="ngModel"
                                    [showWeeks]="true"></datepicker>
                      </div>
                    </div>

                    <input class="span3 form-control" type="text" name="showDate" id="showDate" value="{{ metadata.citation.ciDate }}"
                           required disabled>

                  </div>

                  <div *ngIf="f.submitted && !gmd_identificationInfo_MD_DataIdentification_CI_Citation_CI_Date.valid"
                       class="help-block">A valid date is required</div>
                </div>

                <div class="control-group list-group-item">
                  <label class="control-label" for="gmd_dataQualityInfo_LI_Lineage_statement"
                         tooltip="Do you know anything about the lineage (origin or re-used data) of the resource? In doubt leave blank">Lineage
                    Information of the Resource:</label>
                  <div class="controls">
              <textarea id="gmd_dataQualityInfo_LI_Lineage_statement"
                        name="gmd_dataQualityInfo_LI_Lineage_statement" class="span7 form-control"
                        rows="3"
                        [(ngModel)]="metadata.lineageStatement"
                        #gmd_dataQualityInfo_LI_Lineage_statement="ngModel"></textarea>
                  </div>
                </div>

                <div class="control-group list-group-item">
                  <label class="control-label"
                         for="gmd_identificationInfo_MD_DataIdentification_extent_temporalElement"
                         tooltip="Do you want to specify a temporal extent of the resource?">Use a
                    Temporal
                    Extent for the Resource:</label>
                  <div class="controls">
                    <input type="checkbox" class="form-control"
                           name="gmd_identificationInfo_MD_DataIdentification_extent_temporalElement"
                           id="gmd_identificationInfo_MD_DataIdentification_extent_temporalElement">
                  </div>
                </div>

                <div class="control-group list-group-item">
                  <label class="control-label" for="resTemporalExtent"
                         tooltip="You can adjust temporal extent with the slider.">Temporal
                    Extent:</label>
                  <div class="controls">
                    <input class="span6" type="text" id="resTemporalExtent" name="resTemporalExtent"
                           placeholder="1950-2013"
                           [(ngModel)]="metadata.extent.temporalExtent">
                  </div>
                </div>

              <div class="control-group list-group-item">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(3, 2)">back <i class="fa fa-chevron-left"></i></button>
                <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(3, 4)">next <i class="fa fa-chevron-right"></i></button>
              </div>
              </div>
            </tab>

            <tab [heading]="tabs[4].title" [active]="tabs[4].active" (select)="tabs[4].active = true"
                 (deselect)="tabs[4].active = false">

                <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_Contact_CI_ResponsibleParty_ci_individualName.valid }">
                  <label class="control-label" for="gmd_Contact_CI_ResponsibleParty_ci_individualName"

                         tooltip="Name of contact person for the resource or in doubt your name.">Name of
                    Contact Person for the Resource*:</label>
                  <div class="controls">
                    <input type="text" id="gmd_Contact_CI_ResponsibleParty_ci_individualName"
                           name="gmd_Contact_CI_ResponsibleParty_ci_individualName"
                           [(ngModel)]="metadata.responsibleParty.individualName"
                           #gmd_Contact_CI_ResponsibleParty_ci_individualName="ngModel" class="form-control"
                           required>
                  </div>
                  <div *ngIf="f.submitted && !gmd_Contact_CI_ResponsibleParty_ci_individualName.valid"
                       class="help-block">Name of a contact person is required</div>
                </div>

                <div class="control-group list-group-item">
                  <label class="control-label"
                         for="gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_telephone"

                         tooltip="A phone number of contact person for the resource or in doubt your number">Phone:</label>
                  <div class="controls">
                    <input class="span7 form-control" type="text"
                           id="gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_telephone"
                           name="gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_telephone"
                           placeholder="phone"
                           [(ngModel)]="metadata.responsibleParty.telephone"
                           #gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_telephone="ngModel">
                  </div>
                </div>

                <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_email.valid }">
                  <label class="control-label" for="gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_email"

                         tooltip="An email address of contact person for the resource or in doubt your email address.">Email
                    Address*:</label>
                  <div class="controls">
                    <input type="email" id="gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_email"
                           name="gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_email"
                           placeholder="email"
                           [(ngModel)]="metadata.responsibleParty.email"
                           #gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_email="ngModel" class="form-control"
                           required>
                  </div>
                  <div *ngIf="f.submitted && !gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_email.valid"
                       class="help-block">A valid email for the contact person is required</div>
                </div>

                <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_Contact_CI_ResponsibleParty_ci_pointOfContact.valid }">
                  <label class="control-label" for="gmd_Contact_CI_ResponsibleParty_ci_pointOfContact"

                         tooltip="The role of the contact person for the resource. In doubt choose pointOfContact.">The
                    Role of the Person in Relation to the Resource*:</label>
                  <div class="controls">
                    <select class="span3 form-control" name="gmd_Contact_CI_ResponsibleParty_ci_pointOfContact"
                            id="gmd_Contact_CI_ResponsibleParty_ci_pointOfContact"
                            [(ngModel)]="metadata.responsibleParty.pointOfContact"
                            #gmd_Contact_CI_ResponsibleParty_ci_pointOfContact="ngModel" required>
                      <option *ngFor="let pointOfContact of validValues.pointOfContact"
                              [ngValue]="pointOfContact.value"
                              [selected]="pointOfContact.selected">
                        {{pointOfContact.description}}
                      </option>
                    </select>
                  </div>
                  <div *ngIf="f.submitted && !gmd_Contact_CI_ResponsibleParty_ci_pointOfContact.valid"
                       class="help-block">The role of the contact person is required</div>
                </div>

                <div class="control-group list-group-item">
                  <label class="control-label" for="gmd_Contact_CI_ResponsibleParty_ci_organisationName"

                         tooltip="Organisation of contact person for the resource or in doubt your organisation or leave blank.">Organisation
                    (and/or Position) of the Contact Person:</label>
                  <div class="controls">
                    <input class="span7 form-control" type="text"
                           id="gmd_Contact_CI_ResponsibleParty_ci_organisationName"
                           name="gmd_Contact_CI_ResponsibleParty_ci_organisationName"
                           placeholder="organisation"
                           [(ngModel)]="metadata.responsibleParty.orgName"
                           #gmd_Contact_CI_ResponsibleParty_ci_organisationName="ngModel">
                  </div>
                </div>

                <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_onlineLinkage.valid }">
                  <label class="control-label"
                         for="gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_onlineLinkage"

                         tooltip="A weblink (URL) for the contact organisation / person or a related link, include the http:// or https://.">A weblink
                    (URL)
                    for the organisation or the contact person*:</label>
                  <div class="controls">
                    <input class="span7 form-control" type="text"
                           id="gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_onlineLinkage"
                           name="gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_onlineLinkage"
                           placeholder="http(s)://"
                           [(ngModel)]="metadata.responsibleParty.orgWebLinkage"
                           #gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_onlineLinkage="ngModel" required minlength="11">
                  </div>
                  <div *ngIf="f.submitted && !gmd_Contact_CI_ResponsibleParty_CI_Contact_ci_onlineLinkage.valid"
                       class="help-block">A weblink for the contact is required</div>
                </div>
              <div class="control-group list-group-item">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(4, 3)">back <i class="fa fa-chevron-left"></i></button>
                <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(4, 5)">next <i class="fa fa-chevron-right"></i></button>
              </div>
              </div>
            </tab>

            <tab [heading]="tabs[5].title" [active]="tabs[5].active"  (select)="tabs[5].active = true"
                 (deselect)="tabs[5].active = false">
              <div class="control-group list-group-item">
                <app-sac-gwh-upload-basic></app-sac-gwh-upload-basic>
              </div>
              <div class="control-group list-group-item">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(5, 4)">back <i class="fa fa-chevron-left"></i></button>
                  <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(5, 6)">next <i class="fa fa-chevron-right"></i></button>
                </div>
              </div>
            </tab>

            <tab [heading]="tabs[6].title" [active]="tabs[6].active"  (select)="tabs[6].active = true"
                 (deselect)="tabs[6].active = false">

                <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_metadataConstraints_MD_LegalConstraints_useLimitation.valid }">
                  <label class="control-label"
                         for="gmd_metadataConstraints_MD_LegalConstraints_useLimitation"
                         tooltip="The default data license or other use and distribution constraints regarding the resource.">License
                    or other Constraints*:</label>
                  <div class="controls">
                    <select class="span7 form-control"
                            name="gmd_metadataConstraints_MD_LegalConstraints_useLimitation"
                            id="gmd_metadataConstraints_MD_LegalConstraints_useLimitation"
                            [(ngModel)]="metadata.distribution.useLimitation"
                            #gmd_metadataConstraints_MD_LegalConstraints_useLimitation="ngModel" required>
                      <option *ngFor="let useLimitation of validValues.useLimitation"
                              [ngValue]="useLimitation.value"
                              [selected]="useLimitation.selected">
                        {{useLimitation.description}}
                      </option>
                    </select>
                  </div>
                  <div *ngIf="f.submitted && !gmd_metadataConstraints_MD_LegalConstraints_useLimitation.valid"
                       class="help-block">A license or distribution constraint indication is required</div>
                </div>

                <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_distributionInfo_MD_Distribution_formatVersion.valid }">

                  <label class="control-label" for="gmd_distributionInfo_MD_Distribution_formatVersion"
                         tooltip="The type of distribution for the resource, e.g. is a normal file for download
                         or is it a web service (e.g. OGC Web Map or Web Feature Service) hosting the resource.">Type
                    of Distribution*:</label>

                  <select class="span3 form-control"
                          name="gmd_distributionInfo_MD_Distribution_formatVersion"
                          id="gmd_distributionInfo_MD_Distribution_formatVersion"
                          [(ngModel)]="metadata.distribution.formatVersion"
                          #gmd_distributionInfo_MD_Distribution_formatVersion="ngModel" required>
                    <option *ngFor="let formatVersion of validValues.formatVersion"
                            [ngValue]="formatVersion.value"
                            [selected]="formatVersion.selected">
                      {{formatVersion.description}}
                    </option>
                  </select>

                  <div *ngIf="f.submitted && !gmd_distributionInfo_MD_Distribution_formatVersion.valid"
                       class="help-block">Indication of access type for the resource is required</div>
                </div>

                <div class="control-group list-group-item" [ngClass]="{ 'has-error': f.submitted && !gmd_distributionInfo_MD_Distribution_formatName.valid }">

                  <label class="control-label" for="gmd_distributionInfo_MD_Distribution_formatName"
                         tooltip="The distribution format of the resource, e.g. the file type (e.g. ZIP, PDF, SHP, GeoTIFF, NetCDF)
                         or if it is a web service, what type (e.g. WMS, WFS, SOS, WCS, CSW ..).">Distribution Format*:</label>

                    <input class="span5 form-control" type="text"
                           name="gmd_distributionInfo_MD_Distribution_formatName"
                           id="gmd_distributionInfo_MD_Distribution_formatName"
                           [(ngModel)]="metadata.distribution.formatName"
                           #gmd_distributionInfo_MD_Distribution_formatName="ngModel" required minlength="1">

                  <div *ngIf="f.submitted && !gmd_distributionInfo_MD_Distribution_formatName.valid"
                       class="help-block">An indication for the distribution format is required</div>

                </div>

                <div class="control-group list-group-item">
                  <label class="control-label"
                         for="gmd_distributionInfo_MD_Distribution_MD_DigitalTransferOptions_CI_OnlineResource_linkage"
                         tooltip="A web link (URL) to access the dataset or web service, if applicable.">
                    Distribution Link:</label>
                  <div class="controls">
                    <template #onlineResourceLinkageTemplate let-model="item">
                      <h5>{{model.properties.title | json}}</h5>
                    </template>

                    <input type="text"
                           id="gmd_distributionInfo_MD_Distribution_MD_DigitalTransferOptions_CI_OnlineResource_linkage"
                           name="gmd_distributionInfo_MD_Distribution_MD_DigitalTransferOptions_CI_OnlineResource_linkage"
                           placeholder="http:// (when distribution is 'file formats' type filename from your collection)"
                           [(ngModel)]="metadata.distribution.onlineResourceLinkage"
                           [typeahead]="onlineResourceLinkageTypeahead"
                           (typeaheadLoading)="changeTypeaheadLoading($event)"
                           (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                           (typeaheadOnSelect)="typeaheadOnSelect($event)"
                           typeaheadOptionsLimit="7"
                           typeaheadOptionField="operation.href"
                           [typeaheadItemTemplate]="onlineResourceLinkageTemplate"
                           #gmd_distributionInfo_MD_Distribution_MD_DigitalTransferOptions_CI_OnlineResource_linkage="ngModel" class="form-control">
                  </div>
                </div>
              <div class="control-group list-group-item">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" (click)="setNextTab(6, 5)">back <i class="fa fa-chevron-left"></i></button>
              </div>
              </div>
            </tab>
          </tabset>

          <div class="control-group list-group-item">
            <div class="controls">
              <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
            </div>
            <div class="controls">
              <button type="submit" [disabled]="loading" class="btn btn-primary">Submit</button><!-- (click)="submitForm() -->
              <a class="btn" href="#">
                Cancel
              </a>
              <img *ngIf="loading"
                   src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>
          </div>

        </form>
      </div>

      <div class="panel-footer">

      </div>
    </div>
  </div>
</div>
