<div class="panel panel-default">
  <div class="panel-heading">
    <a (click)="reloadCollections()" tooltip="Refresh file list">
      <i class="fa fa-repeat" aria-hidden="true"></i> Manage</a> uploaded files</div>

  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item">
        <a role="button" class="btn btn-info" routerLink="/workbench/upload-file" tooltip="Upload a file">Upload a file <i class="fa fa-upload" aria-hidden="true"></i></a>
      </div>
      <div class="list-group-item" *ngIf="userFiles.length <= 0">No files have been uploaded.</div>
      <div class="list-group-item" *ngFor="let files of userFiles">
        <table class="table table-bordered table-hover table-striped table-condensed">
          <tr><td>name:</td><td *ngIf="files.originalfilename" tooltip="{{ files.originalfilename }}">{{ files.originalfilename.slice(0, 50) }}...</td></tr>
          <!-- <tr><td>www:</td><td *ngIf="files.linkreference" tooltip="{{files.linkreference}}"><small>{{ files.linkreference.slice(0,50) }}</small></td></tr> -->
          <tr><td>time:</td><td *ngIf="files.laststatuschange"><small>{{ files.laststatuschange }}</small></td></tr>
          <tr><td>actions:</td>
            <td>
              <!-- <button type="button" class="btn btn-info" *ngIf="files.uuid" (click)="getExtendedFileInfo(files.uuid)" tooltip="Get extended file info.">Cloud File Details</button> -->
              <button type="button" class="btn btn-danger" *ngIf="files.uuid" (click)="deleteFileFromPortalStorage(files.uuid)" tooltip="Delete this file. Attention, click and done!">Delete file!</button>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
  <div class="panel-footer">
    {{ userFiles.length }} file{{ userFiles.length !== 1 ? 's' : '' }}
  </div>
</div>
