<div class="col-md-12">

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Admin Page: Stuff you can do, or will be able to do:</div>
    <div class="panel-body">

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">
          <button type="button" class="btn btn-info" (click)="userlistModalRef.show()">List users</button>
          ... and block or unblock their account.
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-info" (click)="usersessionsModalRef.show()">List active user sessions
          </button>
          ... and remove them to make users login again.
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-info" (click)="userFilesModalRef.show()">List files</button>
          ... users have uploaded.</li>
        <li class="list-group-item">
          <button type="button" class="btn btn-info" (click)="userMetaRecordsModal.show()">List metadata records</button>
          ... users have created.</li>
        <li class="list-group-item">
          <button type="button" class="btn btn-info" (click)="linkloggingModalRef.show()">List download requests</button>
          of files and sos/waterml2 exports that have been downloaded.
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-info" (click)="userGroupsModalRef.show()">List user groups</button>
          ... and edit user rights in these groups.
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-info" (click)="uploadTermsModalRef.show()">Upload new Categories</button>
          Upload updated versions of Terms/Glossary/Research Program Infos/Groundwater Categories via
          especially prepared XLS spreadsheets
        </li>
      </ul>
    </div>
  </div>
  <div class="panel-footer">
    <p style="color: #eea236;"><a (click)="backClicked()"><i class="fa fa-backward"></i> Go back...</a></p>
    <p style="color: #eea236;"><a routerLink="/"> <i class="fa fa-home"></i> Dashboard</a></p>
  </div>
</div>

<div bsModal #userlistModalRef="bs-modal" class="modal fade" tabindex="-1" role="article"
     aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideUserlistModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">Users</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-bordered table-hover table-striped table-condensed">
              <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Status</th>
              </tr>
              <tr *ngFor="let user of userlist">
                <td><a tooltip="Last status update was {{ user.laststatuschange }}" href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td>{{ user.firstname ? user.firstname : '*' }} {{ user.lastname ? user.lastname : '*' }}</td>
                <td *ngIf="user.laststatuschange" [ngClass]="userStatusIsActive(user.laststatustoken) ? 'userIsActive' : 'userIsNotActive'">
                  {{ user.laststatustoken ? user.laststatustoken : 'unknown' }}
                  <button type="button" class="btn btn-warning" *ngIf="userCanBeBlocked(user.laststatustoken)"
                          tooltip="Prevent user from logging in with this email account." (click)="blockUnblockUsers('BLOCK', user.email)">Block user
                  </button>
                  <button type="button" class="btn btn-primary" *ngIf="userCanBeUnBlocked(user.laststatustoken)"
                          tooltip="Enable user to log in again with this email account." (click)="blockUnblockUsers('ACTIVATE', user.email)">Enable/unblock user
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #userGroupsModalRef="bs-modal" class="modal fade" tabindex="-1" role="article"
     aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideUserGroupsModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">User Groups</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="list-group">
              <div class="list-group-item" *ngIf="userGroups.length <= 0">No groups have been created.</div>
              <div class="list-group-item" *ngFor="let usergroup of userGroups">
                {{ usergroup.name }}
                <button type="button" class="btn btn-primary disabled" tooltip="Edit group properties.">Edit group.
                </button>
                <ul>
                  <li *ngIf="usergroup.shortinfo">{{ usergroup.shortinfo }}</li>
                  <li>user members: {{ usergroup?.hasUsersLevel.length }}</li>
                  <li>shared collections: {{ usergroup?.hasOwcContextsVisibility.length }}</li>
                </ul>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #usersessionsModalRef="bs-modal" class="modal fade" tabindex="-1" role="article"
     aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideUsersessionsModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">Active User Sessions</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-bordered table-hover table-striped table-condensed">
              <tr>
                <th>Email</th>
                <th>status</th>
                <th>timestamp</th>
                <th>action</th>
              </tr>
              <tr *ngFor="let session of usersessions">
                <td><a href="{{ session.email }}">{{ session.email }}</a></td>
                <td>{{ session.laststatustoken }}</td>
                <td>{{ session.laststatuschange }}</td>
                <td>
                  <button type="button" class="btn btn-warning"
                          tooltip="Forces user to login again." (click)="removeActiveSessions(session.token, session.email)">Remove
                    session
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #linkloggingModalRef="bs-modal" class="modal fade" tabindex="-1" role="article"
     aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideLinkloggingModalModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">Latest file downloads and data exports</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="list-group-item" *ngIf="userLinkLogs.length <= 0">No logs have been created.</div>
            <table class="table table-bordered table-hover table-striped table-condensed">
              <tr>
                <th>ID</th>
                <th>request</th>
                <th>by user</th>
                <th>with browser</th>
                <th>from host</th>
                <th>from page</th>
                <th>timestamp</th>
              </tr>
              <tr *ngFor="let links of userLinkLogs">
                <td>{{ links.id}}</td>
                <td><div *ngIf="links.link" tooltip="{{ links.link }}">{{ links.link.slice(0, 20) }}</div></td>
                <td><div *ngIf="links.email">{{ links.email }}</div></td>
                <td><div *ngIf="links.useragent" tooltip="{{links.useragent}}">{{ links.useragent.slice(0,20) }}</div></td>
                <td><div *ngIf="links.ipaddress">{{ links.ipaddress }}</div></td>
                <td><div *ngIf="links.referer" tooltip="{{links.referer}}">{{ links.referer.slice(0,20) }}</div></td>
                <td><div *ngIf="links.timestamp">{{ links.timestamp }}</div></td>

              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #userFilesModalRef="bs-modal" class="modal fade" tabindex="-1" role="article"
     aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideUserFilesModalModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">User Files</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="list-group-item" *ngIf="userFiles.length <= 0">No files have been created.</div>
            <table class="table table-bordered table-hover table-striped table-condensed">
              <tr>
                <th>entryID</th>
                <th>userID</th>
                <th>filename</th>
                <th>ext. info</th>
                <th>timestamp</th>
              </tr>
              <tr *ngFor="let links of userFiles">
                <td><div *ngIf="links.uuid" tooltip="{{ links.uuid }}">{{ links.uuid.slice(0, 10) }}</div></td>
                <td><div *ngIf="links.users_accountsubject">{{ links.users_accountsubject }}</div></td>
                <td><div *ngIf="links.originalfilename" tooltip="{{ links.originalfilename }}">{{ links.originalfilename.slice(0, 20) }}</div></td>
                <td><button type="button" class="btn btn-info" *ngIf="links.uuid" (click)="getExtendedFileInfo(links.uuid)" tooltip="Get extended file info.">Cloud File Details</button></td>
                <!-- <td><div *ngIf="links.linkreference" tooltip="{{links.linkreference}}">{{ links.linkreference.slice(0,20) }}</div></td> -->
                <td><div *ngIf="links.laststatuschange">{{ links.laststatuschange }}</div></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #userMetaRecordsModalRef="bs-modal" class="modal fade" tabindex="-1" role="article"
     aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideUserMetaRecordsModalModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">User Metadata Records</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="list-group-item" *ngIf="userMetaRecords.length <= 0">No metadata records have been created.</div>
            <table class="table table-bordered table-hover table-striped table-condensed">
              <tr>
                <th>entryID</th>
                <th>userID</th>
                <th>Metadata ID</th>
                <th>catalogue link</th>
                <th>timestamp</th>
              </tr>
              <tr *ngFor="let metaRec of userMetaRecords">
                <td><div *ngIf="metaRec.uuid" tooltip="{{ metaRec.uuid }}">{{ metaRec.uuid.slice(0, 10) }}</div></td>
                <td><div *ngIf="metaRec.users_accountsubject">{{ metaRec.users_accountsubject }}</div></td>
                <td><div *ngIf="metaRec.originaluuid" tooltip="{{ metaRec.originaluuid }}">{{ metaRec.originaluuid.slice(0, 10) }}</div></td>
                <td><div *ngIf="metaRec.cswreference" tooltip="{{metaRec.cswreference}}">{{ metaRec.cswreference.slice(0,20) }}</div></td>
                <td><div *ngIf="metaRec.laststatuschange">{{ metaRec.laststatuschange }}</div></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #uploadTermsModalRef="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     [config]="{backdrop: 'static'}" aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideUploadTermsModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">Search Categories, Terms, Research Program infos</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Select a file with the appropriate filename and upload it with the <mark><strong>green</strong></mark> button. Hope for the best.</p>
            <p>
              Groundwater Search Categories Update: file name must be <mark><strong>PortalCategories.xlsx</strong></mark>
            </p>
            <p>
              Research Program Update: file name must be <mark><strong>ResearchPrgrm.xlsx</strong></mark>
            </p>
            <p>
              Awahou Glossary Update: file name must be <mark><strong>AwahouGlossary.xlsx</strong></mark>
            </p>
            <p>
              NZHS Freshwater Lexicon Update: file name must be <mark><strong>FreshwaterGlossary.xlsx</strong></mark>
            </p>
            <p>
              NGMP Paramters Description Update: file name must be <mark><strong>NgmpParams.xlsx</strong></mark>
            </p>
            <p>
              Te Reo Maori Geoscience Papawai Glossary Update: file name must be <mark><strong>MaoriPapawaiLexicon.xlsx</strong></mark>
            </p>

          </div>
          <div class="panel-body">
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table file-queue">
              <thead>
              <th width="50%">Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
              </thead>
              <tbody>

              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td>
                  <span *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</span>
                  &nbsp;
                </td>
                <td>
                  <div *ngIf="uploader.isHTML5" class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                  &nbsp;
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="fa fa-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                  <span *ngIf="item.isError"><i class="fa fa-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" tooltip="Upload"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="fa fa-upload"></span>
                  </button>
                  <!--
                  <button type="button" class="btn btn-warning btn-xs" tooltip="Cancel"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="fa fa-ban"></span>
                  </button>
                  -->
                  <button type="button" class="btn btn-danger btn-xs" tooltip="Remove"
                          (click)="item.remove()">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

            <div *ngIf="!uploader.isUploading" class="row">
              <div class="col-md-12">
                <!--
                <div ng2FileDrop
                     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                     (fileOver)="fileOverBase($event)"
                     [uploader]="uploader"
                     class="well my-drop-zone">
                  To add file(s) to the queue drop them over this area
                  </div>
                 -->
                <input id="file-chooser" type="file" ng2FileSelect [uploader]="uploader" />
                <span class="pull-right" style="margin-top:-6px"></span>

                <label for="file-chooser" class="btn btn-default">
                  <i class="fa fa-folder-open"></i> select file
                </label>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                  <span class="fa fa-trash"></span> Remove all
                </button>

              </div>
            </div>

            <div *ngIf="uploader.isUploading" class="row">
              <div class="col-md-12">
                <progressbar class="progress-striped" [value]="uploader.progress">
                  <span>{{uploader.progress}}%</span>
                </progressbar>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
