<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default" *ngIf="myCollection">
      <div class="panel-heading">My documents <a routerLink="/workbench/my-data"
                                                 tooltip="Refresh My Documents collection">
        Reload <i class="fa fa-repeat"
                                 aria-hidden="true"></i></a></div>
      <div class="panel-body">
        <accordion>
          <accordion-group #defaultGroup [isOpen]="true">
            <div accordion-heading>
              {{ myCollection.properties.title }}
              <i class="pull-right float-xs-right glyphicon"
                 [ngClass]="{'glyphicon-chevron-down': defaultGroup?.isOpen, 'glyphicon-chevron-right': !defaultGroup?.isOpen}"></i>
            </div>

            <accordion-group #propertiesGroup>
              <div accordion-heading>
                <span><i class="fa fa-search-plus"></i></span> Properties
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-down': propertiesGroup?.isOpen, 'glyphicon-chevron-right': !propertiesGroup?.isOpen}"></i>
              </div>

              <app-sac-gwh-owcdocument-props [owcDocumentProperties]=" myCollection.properties"></app-sac-gwh-owcdocument-props>

              <p><span class="badge pull-left">Collection ID:</span>&nbsp;<small><i> {{ myCollection.id }}</i></small></p>

            </accordion-group>

            <accordion-group #featuresGroup  [isOpen]="true">
              <div accordion-heading>
                <span class="badge">{{ myCollection.features.length }}</span>
                Entries
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-down': featuresGroup?.isOpen, 'glyphicon-chevron-right': !featuresGroup?.isOpen}"></i>
              </div>

              <div class="list-group" *ngIf="myCollection.features.length > 0">
                <li class="list-group-item" *ngFor="let owcEntry of myCollection.features">
                  <a (click)="owcEntryDetailModalRef.showOwcEntryModal(owcEntry)">
                    {{ owcEntry.properties.title }} </a>
                </li>
              </div>

            </accordion-group>
          </accordion-group>
        </accordion>
      </div>


    </div>
    <!-- here possibly more collections -->
  </div>
</div>

<app-sac-gwh-owcentry-detail-modal #owcEntryDetailModalRef>

</app-sac-gwh-owcentry-detail-modal>
