<accordion *ngIf="myCollection">
  <accordion-group #defaultGroup [isOpen]="false">
    <div accordion-heading>
      {{ myCollection.properties.title }}

      <i class="pull-right float-xs-right glyphicon"
         [ngClass]="{'glyphicon-chevron-down': defaultGroup?.isOpen, 'glyphicon-chevron-right': !defaultGroup?.isOpen}"></i>
    </div>

    <div>
      <button (click)="reloadCollection()" type="button" class="btn btn-default" tooltip="Refresh this collection">
        Reload <i class="fa fa-repeat" aria-hidden="true"></i>
      </button>
      <button (click)="editProperties()" type="button" class="btn btn-primary" tooltip="Edit the properties">
        Edit <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
      <button (click)="editProperties()" type="button" class="btn btn-warning" tooltip="Delete the Collection">
        Delete <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </div>
    <accordion-group #propertiesGroup>
      <div accordion-heading>
        <span><i class="fa fa-search-plus"></i></span> Properties
        <i class="pull-right float-xs-right glyphicon"
           [ngClass]="{'glyphicon-chevron-down': propertiesGroup?.isOpen, 'glyphicon-chevron-right': !propertiesGroup?.isOpen}"></i>
      </div>

      <app-sac-gwh-owcdocument-props [owcDocumentProperties]=" myCollection.properties"></app-sac-gwh-owcdocument-props>

      <p><span class="badge pull-left">Collection ID:</span>&nbsp;<small><i>{{ myCollection.id }}</i></small>
      </p>

    </accordion-group>

    <accordion-group #featuresGroup [isOpen]="true">
      <div accordion-heading>
        <span class="badge">{{ myCollection.features.length }}</span>
        Entries
        <i class="pull-right float-xs-right glyphicon"
           [ngClass]="{'glyphicon-chevron-down': featuresGroup?.isOpen, 'glyphicon-chevron-right': !featuresGroup?.isOpen}"></i>
      </div>

      <div class="list-group" *ngIf="myCollection.features.length > 0">
        <li class="list-group-item" *ngFor="let owcEntry of myCollection.features">
          <a (click)="owcEntryDetailModalRef.showOwcEntryModal(owcEntry)">
            {{ owcEntry.properties.title }} </a>
        </li>
      </div>

    </accordion-group>
  </accordion-group>
</accordion>

<app-sac-gwh-owcentry-detail-modal #owcEntryDetailModalRef>

</app-sac-gwh-owcentry-detail-modal>
