<div class="row">
  <app-sac-gwh-central-usernav></app-sac-gwh-central-usernav>
</div>
<!-- the standard workbench list of collections -->
<div class="row" [hidden]="editorActive">
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default" *ngIf="myCollections.length > 0">

      <div class="panel-heading">
        <a (click)="reloadCollections()" tooltip="Refresh collections">
          <i class="fa fa-repeat" aria-hidden="true"></i> Manage</a> my collections
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item">
            <a role="button" class="btn btn-info" (click)="showCreateCollectionModal()"
               tooltip="Create a new collection">Create new collection
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body" *ngFor="let myCollection of myCollections">
        <accordion *ngIf="myCollection">
          <accordion-group #defaultGroup [isOpen]="false" [ngClass]="!myCollection.id.toLowerCase().includes('context\/user') ? 'isCustomCollection' : 'isUserDefaultCollection'">
            <div accordion-heading>
              {{ myCollection.properties.title }}
              <i class="pull-right float-xs-right glyphicon"
                 [ngClass]="{'glyphicon-chevron-down': defaultGroup?.isOpen, 'glyphicon-chevron-right': !defaultGroup?.isOpen}"></i>
            </div>

            <app-sac-gwh-collection [myCollection]="myCollection" [visibility]="findVisibilityForCollection(myCollection.id)"
                                    (reloadOnChangedCollection)="reloadCollections()" (editCollectionRequest)="onEditCollectionRequest($event)" [viewOnly]="false"></app-sac-gwh-collection>
          </accordion-group>
        </accordion>
      </div>
      <div class="panel-footer">
        {{ myCollections.length }} collection{{ myCollections.length !== 1 ? 's' : '' }}
      </div>
    </div>
  </div>
</div>

<!-- the place holder for the collections editor -->
<div class="row" [hidden]="!editorActive">
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default" *ngIf="editorActive">
      <app-sac-gwh-owc-collection-editor-component (reloadOnSavedCollection)="reloadCollections()" [owcData]="editOwcDoc" (returnCloseEditor)="onReturnCloseEditor()"></app-sac-gwh-owc-collection-editor-component>
    </div>
  </div>
</div>

<!-- the modal to create a new collection -->
<div bsModal #createCollectionModalRef="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     [config]="{backdrop: 'static'}" aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideCreateCollectionModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">Create a new custom Collection</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Create a new collection and provide Title and Abstract to start with</h3>
            <form name="form" (ngSubmit)="f.form.valid && createCollection(newdocintro.title, newdocintro.subtitle)" #f="ngForm" novalidate>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
                <label for="title" tooltip="The title of the new collection" placement="right">Title <small>(the title of the new collection)</small></label>
                <input type="text" class="form-control" name="title" id="title"
                       #title="ngModel" [(ngModel)]="newdocintro.title"
                       required />
                <div *ngIf="f.submitted && !title.valid" class="help-block">a title is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !subtitle.valid }">
                <label tooltip="The abstract of the new collection" for="subtitle">Abstract/subtitle <small>(a short abstract or subtitle for the new collection)</small></label>
                <input id="subtitle" type="text" class="form-control" name="subtitle"
                       #subtitle="ngModel" [(ngModel)]="newdocintro.subtitle"
                       required />
                <div *ngIf="f.submitted && !subtitle.valid" class="help-block">Abstract/subtitle is required</div>
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-info" tooltip="Create a new collection">Submit
                  <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                <img *ngIf="loading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
              </div>
            </form>

          </div>
          <div class="panel-body">
            <h3>(Or) Import a collection from a compatible GeoJSON file</h3>
            <form name="fileform" #fileformRef="ngForm" (ngSubmit)="importCollectionFromFile(importOwcDoc)" novalidate>
              <div class="form-group">
                <label for="fileimport" tooltip="A GeoJSON file containing the new collection to import" placement="right">GeoJSON File <small>(A GeoJSON file containing the new collection to import)</small></label>
                <input type="file" class="form-control" name="fileimport" id="fileimport" (change)="testImportJsonFile($event)" required />
              </div>
              <div class="form-group">
                <button [disabled]="loading || fileparseerror" class="btn btn-info" tooltip="Upload/import a new collection">Submit
                  <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                <img *ngIf="loading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
