<div [class]="owcOfferingStyleClasses" *ngIf="owcOffering">
  <p *ngIf="owcOffering.code"><small><i>{{ 'Offering type: ' + owcOffering.code }}</i></small></p>

  <div *ngIf="owcOffering.operations && owcOffering.operations.length > 0">
    <p>Registered operations:</p>
    <div class="list-group-item" *ngFor="let owcOperation of owcOffering.operations">
      <app-sac-gwh-owcoperation [owcOperation]="owcOperation"></app-sac-gwh-owcoperation>
    </div>
  </div>

  <div *ngIf="owcOffering.styles && owcOffering.styles.length > 0">
    <p>Linked stylesets:</p>
    <div class="list-group-item" *ngFor="let styleset of owcOffering.styles">
      <app-sac-gwh-owcstyleset [owcStyleSet]="styleset"></app-sac-gwh-owcstyleset>
    </div>
  </div>

  <div *ngIf="owcOffering.contents && owcOffering.contents.length > 0">
    <p>Inline data contents:</p>
    <div class="list-group-item" *ngFor="let dataContent of owcOffering.contents">
      <app-sac-gwh-owccontent [owcContent]="dataContent"></app-sac-gwh-owccontent>
    </div>
  </div>

</div>
