.OwcOffering {
  background:#46b8da;
}

.WmsOffering {
  background:#46b8da;
}

.WmtsOffering {
  background:#46b8da;
}

.WfsOffering {
  background:#46b8da;
}

.WcsOffering {
  background:#46b8da;
}

.CswOffering {
  background:#46b8da;
}

.WpsOffering {
  background:#46b8da;
}

.GmlOffering {
  background:#46b8da;
}

.KmlOffering {
  background:#46b8da;
}

.GeoTiffOffering {
  background:#46b8da;
}

.SosOffering {
  background:#46b8da;
}

.NetCdfOffering {
  background:#46b8da;
}

.HttpLinkOffering {
  background:#46b8da;
}
