
<div bsModal #owcResourceDetailModalRef="bs-modal" class="modal fade" tabindex="-1" role="article"
     aria-labelledby="result-details" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div *ngIf="owcResource" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideOwcResourceModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">Resource Info</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="owcResource.geometry">
          <span class="badge pull-left">Geospatial extent:</span>&nbsp;
          <div>
            Here should be a map roughly outlining the geometry of: {{ owcResource.geometry | json }}
          </div>
        </div>

        <app-sac-gwh-owcresource-props [owcResourceProperties]="owcResource.properties"></app-sac-gwh-owcresource-props>

        <p><span class="badge pull-left">Resource ID:</span> <small><i> {{ owcResource.id }}</i></small></p>

        <div *ngIf="!viewOnly">

          <button (click)="editProperties()" type="button" class="btn btn-info disabled" tooltip="Edit the entry" disabled>
            Edit <i class="fa fa-edit" aria-hidden="true"></i>
          </button>

          <button (click)="deleteResource()" type="button" class="btn btn-danger pull-right" tooltip="Delete the resource entry">
            Delete <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
