<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-th-list"></i> Collection viewer</div>
      <div class="panel-body">
        info
        <p><small><a (click)="backClicked()"><i class="fa fa-backward"></i> Go back...</a></small></p>
      </div>
    </div>
  </div>
</div> <!-- row -->
<div class="row" *ngIf="myCollection.features.length > 0">
  <div class="col-md-8">
    <div class="panel panel-default panel-fixed-height">
      <div class="panel-heading">map</div>
      <div class="panel-body">
        <div class="panel-body-inner-wrapper">
          <div style="height: 640px;"
               leaflet
               (leafletMapReady)="onMapReady($event, myCollection)"
               [leafletOptions]="getLeafletOptions(myCollection)"
               [leafletZoom]="5"
               [leafletCenter]="getLeafletCentre(myCollection.bbox)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default panel-fixed-height">
      <div class="panel-heading"><i class="fa fa-th-list"></i> Layer / resource list</div>
      <div class="panel-body">
        <div class="panel-body-inner-wrapper panel-body-inner-wrapper-margins">
          <div class="list-group" *ngIf="myCollection.features">
            <a *ngFor="let owcResource of myCollection.features"
               class="list-group-item"
               (click)="owcResourceDetailModalRef.showOwcResourceModal(owcResource, myCollection.id)">
              {{owcResource.properties.title}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-sac-gwh-owcresource-detail-modal #owcResourceDetailModalRef [viewOnly]="true">

</app-sac-gwh-owcresource-detail-modal>
