<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-th-list"></i> Collection viewer</div>
      <div class="panel-body">
        <p><small><a (click)="backClicked()"><i class="fa fa-backward"></i> Go back...</a></small></p>
      </div>
    </div>
  </div>
</div> <!-- row -->
<div class="row" *ngIf="myCollection.features.length > 0">
  <div class="col-md-8">
    <div class="panel panel-default panel-fixed-height">
      <div class="panel-heading">map (this web feature is currently in development and currently has limited functionality)</div>
      <div class="panel-body">
        <div class="panel-body-inner-wrapper">
          <div style="height: 640px;"
               leaflet

               (leafletMapReady)="onMapReady($event, myCollection)"
               [leafletOptions]="getLeafletOptions(myCollection)"
               [leafletZoom]="5"
               [leafletCenter]="getLeafletCentre(myCollection.bbox)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default panel-fixed-height">
      <div class="panel-heading"><i class="fa fa-th-list"></i> Layer / resource list</div>
      <div class="panel-body">
        <div class="panel-body-inner-wrapper panel-body-inner-wrapper-margins">
          <div class="list-group" *ngIf="myCollection.features">
            <div *ngFor="let owcResource of myCollection.features" class="list-group-item">
              <form>
                <input type="checkbox" [name]="owcResource.id" checked (change)="eventChangeActive($event, owcResource)">
                <label>{{owcResource.properties.title}} </label>
                <span class="pull-right" (click)="owcResourceDetailModalRef.showOwcResourceModal(owcResource, myCollection.id)"><i class="fa fa-info"></i> Meta</span>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-sac-gwh-owcresource-detail-modal #owcResourceDetailModalRef [viewOnly]="true">

</app-sac-gwh-owcresource-detail-modal>

<div class="modal fade" bsModal #featureInfoModalRef="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="featureInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Feature Info</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="featureInfoModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="featureInfoModalElement">
        This is static modal, backdrop click will not close it.
        Click <b>&times;</b> to close modal.
        <span *ngFor="let htmlNode of featureInfoNodes" [innerHTML]="htmlNode"></span>
        <span #spanRef>demo span</span>
      </div>
    </div>
  </div>
</div>
