.OwcOffering {
}

.WmsOffering {
  background: #55c072;
}

.WmtsOffering {
  background: #1caa10;
}

.WfsOffering {
  background: #cc8f00;
}

.WcsOffering {
  background: #da60ca;
}

.CswOffering {
  background: #8b89da;
}

.WpsOffering {
  background: #e84810;
}

.GmlOffering {
  background: #dad19c;
}

.KmlOffering {
  background: #4fdaba;
}

.GeoTiffOffering {
  background: #fffe0b;
}

.SosOffering {
  background: #4d00da;
}

.NetCdfOffering {
  background: #0328da;
}

.HttpLinkOffering {
  background: #dacac6;
}
