.OwcOffering {
}

.WmsOffering {
  background: #55c072;
}

.WfsOffering {
  background: #cc8f00;
}

.WcsOffering {
  background: #da60ca;
}

.CswOffering {
  background: #8b89da;
}

.WpsOffering {
  background: #e84810;
}

.GeoTiffOffering {
  background: #fffe0b;
}

.SosOffering {
  background: #4d00da;
}

