<div class="col-md-4 col-sm-5" style="margin-bottom: 5px">
  <div class="btn-group" role="group" aria-label="button">
    <a type="button" class="btn btn-default" routerLink="/account">My Account</a>

    <a type="button" class="btn btn-default" routerLink="/workbench/my-groups">My Groups</a>

    <a type="button" class="btn btn-default" routerLink="/workbench/my-data">My Collections</a>

    <a type="button" class="btn btn-default" routerLink="/workbench/my-files">My Files</a>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-upload"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a routerLink="/workbench/upload-file">Upload a file</a></li>
      </ul>
    </div>

    <a type="button" class="btn btn-default" routerLink="/workbench/my-metadata">My Metadata</a>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-edit"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a routerLink="/workbench/add-data">Add metadata record</a></li>
      </ul>
    </div>
  </div>
</div>

