<div class="row">
  <app-sac-gwh-central-usernav></app-sac-gwh-central-usernav>
</div>
<div class="row">
  <div class="col-md-4 col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a (click)="reloadGroups()" tooltip="Refresh groups">
          <i class="fa fa-repeat" aria-hidden="true"></i> Manage</a> your groups and rights
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item">
            <a role="button" class="btn btn-info" (click)="showCreateGroupModal()"
               tooltip="Create a new group, e.g. a working group, project team or organisation">Create new group
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div class="list-group-item" *ngIf="userGroups.length <= 0">No groups have been created.</div>
          <div class="list-group-item" *ngFor="let usergroup of userGroups; let i = index" [attr.data-index]="i">
            <p><strong>{{ usergroup.name }}</strong></p>
            <p *ngIf="usergroup.shortinfo"><i>{{ usergroup.shortinfo }}</i></p>
            <ul>
              <li *ngIf="usergroup?.hasUsersLevel">user members: {{ usergroup?.hasUsersLevel.length }}</li>
              <li *ngIf="usergroup?.hasOwcContextsVisibility">shared collections: {{
                usergroup?.hasOwcContextsVisibility.length }}
              </li>
            </ul>
            <button type="button" class="btn btn-default" (click)="showEditGroupModal(userGroups[i])"
                    tooltip="Group details for {{ usergroup.name }}.">Group details
            </button>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        {{ userGroups.length }} user group{{ userGroups.length !== 1 ? 's' : '' }}
      </div>
    </div>
  </div>
</div>

<div bsModal #createGroupModalRef="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     [config]="{backdrop: 'static'}" aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideCreateGroupModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">Create a new group</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Create a new group</h3>
            <form name="form" (ngSubmit)="f.form.valid && createGroup(newgroup.title, newgroup.subtitle)" #f="ngForm"
                  novalidate>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
                <label for="title" tooltip="The title of the new collection" placement="right">Title
                  <small>(the title of the new group)</small>
                </label>
                <input type="text" class="form-control" name="title" id="title"
                       #title="ngModel" [(ngModel)]="newgroup.title"
                       required maxlength="255"/>
                <div *ngIf="f.submitted && !title.valid" class="help-block">a title is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !subtitle.valid }">
                <label tooltip="The abstract of the new collection" for="subtitle">Abstract/subtitle
                  <small>(a short abstract or subtitle for the new collection, max 255 characters)</small>
                </label>
                <input id="subtitle" type="text" class="form-control" name="subtitle"
                       #subtitle="ngModel" [(ngModel)]="newgroup.subtitle"
                       required maxlength="255"/>
                <div *ngIf="f.submitted && !subtitle.valid" class="help-block">Abstract/subtitle is required</div>
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-info" tooltip="Create a new collection">Submit
                  <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                <img *ngIf="loading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #editGroupModalRef="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     [config]="{backdrop: 'static'}" aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="editUserGroup">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="hideEditGroupModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title pull-left">Edit group</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <p><strong>{{ editUserGroup.name }}</strong></p>
            <p *ngIf="editUserGroup.shortinfo">
              <i>{{ editUserGroup.shortinfo }}</i>
              <a
                *ngIf="!amiLastGroupAdmin(userProfile.accountSubject, editUserGroup)"
                (click)="removeUserFromGroup(userProfile.accountSubject)"
                tooltip="leave the group, can only leave if you are not admin(power-user">
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
              </a>
            </p>
            <div class="list-group-item" *ngIf="editUserGroup.hasUsersLevel">user members: {{
              editUserGroup.hasUsersLevel.length }}
              <a *ngIf="iamGroupAdmin(userProfile.accountSubject, editUserGroup)"
                 (click)="readyForAddingUser = !readyForAddingUser"
                 tooltip="add a new user">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </a>
              <form *ngIf="readyForAddingUser" name="form"
                    (ngSubmit)="f.form.valid && addUserByEmail(userProfile.accountSubject)" #f="ngForm"
                    novalidate>

                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                  <label for="email">First name</label>
                  <input id="email" [(ngModel)]="emailUserToAdd" type="email" #email="ngModel" name="email" class="form-control" required>
                  <span class="input-group-btn" tooltip="enter user's email">
                    <button [disabled]="loading" class="btn btn-info">Add!</button>
                    <img *ngIf="loading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </span>
                  <div *ngIf="f.submitted && !email.valid" class="help-block">email is required</div>
                </div>
              </form>
              <ul>
                <li *ngFor="let userV of editUserGroup.hasUsersLevel; let j = index" [attr.data-index]="j">
                <span>
                  <app-sac-gwh-groupsuserdisplay
                    [usersAccountid]="userV.users_accountsubject"></app-sac-gwh-groupsuserdisplay>
                  <a
                    *ngIf="(userProfile.accountSubject !== userV.users_accountsubject) && iamGroupAdmin(userProfile.accountSubject, editUserGroup)"
                    (click)="removeUserFromGroup(editUserGroup.hasUsersLevel[j].users_accountsubject)" tooltip="remove user">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                  </a>

                  <div class="btn-group">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      level (R* {{ getUserRightsNameForNumber(userV.userlevel) }}) <i class="fa fa-shield"
                                                                                      aria-hidden="true"></i> <span
                      class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" *ngIf="iamGroupAdmin(userProfile.accountSubject, editUserGroup)">
                      <li *ngFor="let idx of [0,1,2,3]" tooltip="change user rights level"
                          [ngClass]="{'disabled': idx === userV.userlevel || idx > 2 }">
                        <a
                          (click)="updateUsersRightInGroup(userV.users_accountsubject, idx)">
                          {{ getUserRightsNameForNumber(idx) }} <i [ngClass]="iconClassForUserRightsLevelNumber(idx)"
                                                                   aria-hidden="true"></i>
                        </a>
                        <span class="bg-warning" *ngIf="amiLastGroupAdmin(userProfile.accountSubject, editUserGroup)">You are the last admin</span>
                      </li>
                    </ul>
                  </div>
                </span>
                </li>
              </ul>
            </div>
            <div class="list-group-item" *ngIf="editUserGroup.hasOwcContextsVisibility">shared collections: {{
              editUserGroup.hasOwcContextsVisibility.length }} <a
                (click)="readyForAddingConllection = !readyForAddingConllection"
                tooltip="add a collection of yourself to the group">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </a>
              <div class="btn-group" *ngIf="readyForAddingConllection">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  Add my collection <i class="fa fa-shield"
                                       aria-hidden="true"></i> <span
                  class="caret"></span>
                </button>
                <ul class="dropdown-menu" *ngIf="myGroupLevel(userProfile.accountSubject, editUserGroup) >=1">
                  <li *ngFor="let collectionsid of myCollections"
                      [ngClass]="{'disabled': collectionIsAlreadyInGroup( collectionsid.id, editUserGroup) || myCollectionsGroupLevelPrivate(collectionsid.id)}">
                    <a tooltip="add this collection to the group. Info: {{ collectionsid.properties.subtitle }}"
                        (click)="addCollectionToGroup(collectionsid.id)">
                      <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="myCollectionsGroupLevelPrivate(collectionsid.id)"></i>
                      <i class="fa fa-plus" aria-hidden="true" *ngIf="!myCollectionsGroupLevelPrivate(collectionsid.id)"></i> {{ collectionsid.properties.title }}</a>
                  </li>
                </ul>
              </div>

              <ul>
                <li *ngFor="let collectionV of editUserGroup.hasOwcContextsVisibility">
                  <span>
                    <app-sac-gwh-groupscontextdisplay
                      [context_id]="collectionV.owc_context_id"></app-sac-gwh-groupscontextdisplay>
                    <a *ngIf="iamGroupAdmin(userProfile.accountSubject, editUserGroup) || isMyOwnNativeCoollection(userProfile.accountSubject, collectionV)"
                       (click)="removeCollectionFromGroup(collectionV)" tooltip="remove collection">
                      <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </a>
                  </span>
                </li>
              </ul>
            </div>
            <div class="list-group-item" *ngIf="iamGroupAdmin(userProfile.accountSubject, editUserGroup)">
              <button type="button" class="btn btn-danger" tooltip="delete the group"
                      (click)="deleteGroup(editUserGroup.uuid)">Delete group
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
