<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-th-list"></i> Individual search</div>
      <div class="panel-body">

        <form name="form" class="form-inline row" (ngSubmit)="getResults()" (keydown)="onKeydownSearchform($event)"
              #f="ngForm" novalidate>

          <div class="form-group col-md-9">
            <label class="control-label sr-only"
                   for="search.query">
              search for </label>
            <div class="full-width">
              <input type="text"
                     id="search.query"
                     name="search.query"
                     class="form-control full-width"
                     [(ngModel)]="search.query"
                     #searchquery="ngModel"
                     placeholder="search query"
                     tooltip="Query supports Lucene Syntax. For 'all' documents use '*:*'"/>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="control-label sr-only"
                   for="search.date.range">
              select date range</label>
            <p class="form-control-static" id="search.date.range"
            tooltip="The date range to serch for. Click on the calendar to change">{{ formatDate(search.fromDate) }} - {{
              formatDate(search.toDate) }}</p>

            <div class="btn-group" role="group" aria-label="..." dropdown autoClose="outsideClick">
              <button class="btn btn-default" type="button" dropdownToggle><i class="fa fa-calendar"></i></button>
              <div class="dropdown-menu datepicker-dropdown dropdown-menu-right" dropdownMenu aria-labelledby="split-button">
                <div style="display:inline-block;" class="collapse">
                  <datepicker [(ngModel)]="search.fromDate" name="search.date.from"
                              #searchdatefrom="ngModel" [showWeeks]="true"
                              [maxDate]="search.toDate"></datepicker>

                  <div style="display:inline-block;" class="collapse">
                    <datepicker [(ngModel)]="search.toDate" name="search.date.to"
                                #searchdateto="ngModel"
                                [showWeeks]="true" [minDate]="search.fromDate"></datepicker>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- /form-group -->
          <div class="form-group col-md-1">
            <button (click)="doSearch()" type="button" class="btn btn-default full-width">search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> <!-- row -->
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default panel-fixed-height">
      <div class="panel-heading">map</div>
      <div class="panel-body">
        <div class="panel-body-inner-wrapper">
          <app-sac-gwh-ol3-map [mapExtent]="search.bbox" (onBboxChange)="bboxChanged($event)"
                               [searchResults]="results" [highlightFeature]="selectedResult"></app-sac-gwh-ol3-map>
        </div>
      </div>
    </div>
    <!--<app-sac-gwh-result-detail [feature]="selectedResult"></app-sac-gwh-result-detail>-->
  </div>
  <div class="col-md-4">
    <div class="panel panel-default panel-fixed-height" *ngIf="results">
      <div class="panel-heading">Search Results - {{results.count}} of {{results.countMatched}}
        <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="isLoading"></i><span class="sr-only">Loading...</span>
        <span class="pull-right">
          <i class="fa fa-eye" [ngClass]="{disabled:(results.count == results.countMatched), clickable:(results.count != results.countMatched)}"
             tooltip="click to show all results"
             routerLink="/search" [queryParams]="getQueryParams(-1)"></i><span class="sr-only">show all results</span>
          <i class="fa fa-clipboard clickable" tooltip="click to copy url to clipboard"
             ngxClipboard [cbContent]="currentUrl"
             (cbOnSuccess)="onClipboardSuccess()"></i>
          <span class="sr-only">copy url to clipboard</span>
        </span>
      </div>
      <div class="panel-body">
        <div class="panel-body-inner-wrapper panel-body-inner-wrapper-margins">
          <div class="list-group">
            <a *ngFor="let feature of results.features"
               class="list-group-item"
               [class.active]="feature===selectedResult"
               (click)="searchResultDetailRef.showFeatureModal(feature)"
               (mouseover)="selectedResult = feature"
               (mouseout)="selectedResult = undefined"
                >
               {{feature.properties.title}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-sac-gwh-result-detail-modal #searchResultDetailRef></app-sac-gwh-result-detail-modal>



