<div class="jumbotron">
  <h1>Search</h1>
  <p>Search Form</p>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">map</div>
      <div class="panel-body" style="padding:0">
        <sac-gwh-ol3-map (onBboxChange)="bboxChanged($event)" [searchResults]="results"></sac-gwh-ol3-map>
      </div>
    </div>
    <my-result-detail [result]="selectedResult"></my-result-detail>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Search query</div>
      <div class="panel-body">

        <div class="form-group">
          <label for="search.query">query</label>
          <input [(ngModel)]="search.query" placeholder="search query" id="search.query"
                 [ngModelOptions]="{standalone: true}"
                 class="form-control"/>
        </div>

        <div class="form-group">
          <label for="search.date.from">date from</label>
          <div class="input-group" dropdown autoClose="outsideClick">
            <input type="text" class="form-control" placeholder="{{search.fromDate}}" id="search.date.from" disabled>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" dropdownToggle><i class="fa fa-calendar"></i></button>
            </span>
            <div class="dropdown-menu datepicker-dropdown" dropdownMenu aria-labelledby="split-button">
              <div style="display:inline-block;" class="collapse">
                <datepicker [(ngModel)]="search.fromDate" [showWeeks]="true" [maxDate]="search.toDate"
                            [ngModelOptions]="{standalone: true}"></datepicker>
              </div>
            </div>
          </div><!-- /input-group -->
        </div> <!-- /form-group -->
        <div class="form-group">
          <label for="search.date.to">date to</label>
          <div class="input-group" dropdown autoClose="outsideClick">
            <input type="text" class="form-control" placeholder="{{search.toDate}}" id="search.date.to" disabled>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" dropdownToggle><i class="fa fa-calendar"></i></button>
            </span>
            <div class="dropdown-menu datepicker-dropdown" dropdownMenu aria-labelledby="split-button">
              <div style="display:inline-block;" class="collapse">
                <datepicker [(ngModel)]="search.toDate" [showWeeks]="true" [minDate]="search.fromDate"
                            [ngModelOptions]="{standalone: true}"></datepicker>
              </div>
            </div>
          </div>
        </div> <!-- /form-group -->
        <div class="form-group">
          <label for="search.bboxwkt">bboxWkt</label>
          <input [(ngModel)]="search.bboxWkt" placeholder="ENVELOPE(-180,180,90,-90)" id="search.bboxwkt"
                 [ngModelOptions]="{standalone: true}"
                 class="form-control"
                 disabled/>
        </div>
        <button (click)="getResults()" type="button" class="btn btn-default">search</button>

      </div>

    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Search Results - {{results.features.length}}</div>
      <div class="panel-body">
        <div class="list-group">
          <a *ngFor="let feature of results.features"
             class="list-group-item"
             [class.active]="feature===selectedResult"
             (click)="resultDetailModal.show(feature)">
            <span class="badge">{{feature.properties.fileIdentifier}}</span> {{feature.properties.title}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<result-detail-modal #resultDetailModal></result-detail-modal>



