<div class="row">
  <app-sac-gwh-central-usernav></app-sac-gwh-central-usernav>
</div>
<div class="row">
  <div class="col-md-4 col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">Account details</div>
      <div class="panel-body">
        <!-- Table -->
        <table class="table">
          <tr>
            <td>Name: {{ userProfile.firstname}} {{ userProfile.lastname }}</td>
          </tr>
          <tr>
            <td>Email: {{ userProfile.email}}</td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-info" id="changedetails"
                      (click)="profileUpdateModalRef.showUpdateModal(userProfile)">Change user info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-default" id="changepass"
                      (click)="passwordUpdateModalRef.showUpdateModal(userProfile)">Change password
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-danger" id="deleteself"
                      (click)="deleteselfModalRef.showDeleteSelfModal(userProfile)">Delete my account
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<app-sac-gwh-account-profile-modal #profileUpdateModalRef></app-sac-gwh-account-profile-modal>

<app-sac-gwh-account-password-modal #passwordUpdateModalRef></app-sac-gwh-account-password-modal>

<app-sac-gwh-account-deleteself-modal #deleteselfModalRef></app-sac-gwh-account-deleteself-modal>
