<div class="row">
  <div class="col-md-4 col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">Account details</div>
      <div class="panel-body">
        <!-- Table -->
        <table class="table">
          <tr>
            <td>Name: {{ userProfile.firstname}} {{ userProfile.lastname }}</td>
          </tr>
          <tr>
            <td>Email: {{ userProfile.email}}</td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-info" id="changedetails"
                      (click)="profileUpdateModalRef.showUpdateModal(userProfile)">Change user info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-default" id="changepass"
                      (click)="passwordUpdateModalRef.showUpdateModal(userProfile)">Change password
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-danger" id="deleteself"
                      (click)="deleteselfModalRef.showDeleteSelfModal(userProfile)">Delete my account
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="panel-footer panel-info"></div>
    </div>
  </div>

  <div class="col-md-4 col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">Manage your groups and rights</div>

      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item" *ngIf="setAdminLink()">
            <a role="button" class="btn btn-warning" routerLink="/x-admin">ADMIN: Go to Admin Panel <i class="fa fa-forward"></i></a>
          </div>
          <div class="list-group-item">
            <a role="button" class="btn btn-info" tooltip="Create a new group, e.g. a working group, project team or organisation">Create new group
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div class="list-group-item" *ngIf="userGroups.length <= 0">No groups have been created.</div>
          <div class="list-group-item" *ngFor="let usergroup of userGroups">
            {{ usergroup.name }}
            <button type="button" class="btn btn-warning disabled" tooltip="Edit group properties.">Edit group.
            </button>
            <ul>
              <li *ngIf="usergroup.shortinfo">{{ usergroup.shortinfo }}</li>
              <li>user members: {{ usergroup?.hasUsersLevel.length }}</li>
              <li>shared collections: {{ usergroup?.hasOwcContextsVisibility.length }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        {{ userGroups.length }} user group{{ userGroups.length !== 1 ? 's' : '' }}
      </div>
    </div>
  </div>
</div>

<app-sac-gwh-account-profile-modal #profileUpdateModalRef></app-sac-gwh-account-profile-modal>

<app-sac-gwh-account-password-modal #passwordUpdateModalRef></app-sac-gwh-account-password-modal>

<app-sac-gwh-account-deleteself-modal #deleteselfModalRef></app-sac-gwh-account-deleteself-modal>
