<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">Please sign in</div>
      <div class="panel-body">
        <form class="form-signin">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input #email type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

          <label for="inputPassword" class="sr-only">Password</label>
          <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required>

          <button class="btn btn-primary btn-block" type="submit" (click)="loginSubmit(email.value, password.value)">Sign in</button>

        </form>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label for="google.oauth">Sign in with Google</label>
          <button class="btn btn-danger" (click)="gconnectLogin()" id="google.oauth">Google+ Sign in</button>
        </div>

        <div class="form-group">
          <label for="register.account">Or register a new account</label>
          <a routerLink="/register" class="btn btn-info" type="submit" id="register.account">Register</a>
        </div>
      </div>

    </div>
  </div>
</div>


