<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">Sign up</div>
      <div class="panel-body">
        <form class="form-signup">
          <label for="email" class="sr-only">Email address</label>
          <input #emailRef [(ngModel)]="email" type="email" id="email" name="email" class="form-control" placeholder="email address" required autofocus>

          <label for="username" class="sr-only">Username</label>
          <input #usernameRef [(ngModel)]="username" type="text" id="username" name="username" class="form-control" placeholder="username" required>

          <label for="firstname" class="sr-only">First name</label>
          <input #firstnameRef [(ngModel)]="firstname" type="text" id="firstname" name="firstname" class="form-control" placeholder="firstname" required>

          <label for="lastname" class="sr-only">Last name</label>
          <input #lastnameRef [(ngModel)]="lastname" type="text" id="lastname" name="lastname" class="form-control" placeholder="lastname" required>

          <label for="password" class="sr-only">Password</label>
          <input #passwordRef [(ngModel)]="password" type="password" id="password" name="password" class="form-control" placeholder="Password" required>

          <button class="btn btn-info btn-block" (click)="submit()" type="submit">Submit registration</button>

        </form>

      </div>
      <div class="panel-body">

        <div class="form-group">
          <label for="google.oauth">Sign up with Google</label>
          <button class="btn btn-danger" (click)="gconnectReg($event)" id="google.oauth">Google+ Sign up</button>
        </div>

      </div>

    </div>
  </div>
</div>
