<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Register a new account <a routerLink="/login"
                                                           tooltip="back to login"><i class="fa fa-arrow-left"
                                                      aria-hidden="true"></i></a></div>
      <div class="panel-body">

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
              novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email address</label>
            <input [(ngModel)]="model.email" type="email" name="email" #email="ngModel"
                   class="form-control"
                   placeholder="email address" required autofocus>
            <div *ngIf="f.submitted && !email.valid" class="help-block">email is required</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
            <label for="firstname">First name</label>
            <input [(ngModel)]="model.firstname" type="text" #firstname="ngModel"
                   name="firstname" class="form-control"

                   placeholder="firstname" required>
            <div *ngIf="f.submitted && !firstname.valid" class="help-block">firstname is required</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
            <label for="lastname">Last name</label>
            <input [(ngModel)]="model.lastname" type="text" name="lastname"
                   #lastname="ngModel"
                   class="form-control"
                   placeholder="lastname" required>
            <div *ngIf="f.submitted && !lastname.valid" class="help-block">lastname is required</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input [(ngModel)]="model.password" type="password" #password="ngModel"
                   name="password"
                   class="form-control"
                   placeholder="Password" required minlength="8">
            <div *ngIf="f.submitted && !password.valid" class="help-block">password is required and
               should have 8 or more characters</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !recaptchaValid }">
            <div id="g-recaptcha" class="g-recaptcha" data-callback="recaptchaCallback"
                 data-sitekey="6Le5RQsUAAAAAM_YjqAXzrJVLwqbYFl4hNmQ4n3Z"></div>
            <div *ngIf="f.submitted && !recaptchaValid" class="help-block">ReCaptcha is
              required</div>
          </div>

          <div class="form-group">
            <button [disabled]="loading" class="btn btn-info">Submit registration</button>
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          </div>
          <div *ngIf="error" class="alert alert-danger">{{ error }} {{ f.errors?.required }}</div>

        </form>

      </div>
      <div class="panel-body">

        <div class="form-group">

          <label for="signInButton">Sign up with Google</label><br>
          <button class="btn btn-danger" id="google.oauth"
                  onclick="alert('not implemented yet')">Use Google to Sign
            up</button>
          <div id="signInButton">
            <div class="g-signin2"
                 data-scope="https://www.googleapis.com/auth/plus.login"
                 data-clientid="988846878323-bkja0j1tgep5ojthfr2e92ao8n7iksab.apps.googleusercontent.com"
                 data-redirecturi="postmessage"
                 data-accesstype="offline"
                 data-onsuccess="gconnectReg"
                 data-onfailure="handleFailure">
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
