.alert .details,
.alert-dismissible .details {
  position: relative;
  right: -15px;
  color: inherit;
}

.alert > pre {
  color:inherit;
  background-color: rgba(255, 255, 255, .6);
  margin-top:10px;
}

button.details {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.details {
  float: right;
  font-size: x-small;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.details:hover,
.details:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
