<div class="row" style="position:fixed; z-index: 9999; width:100%">
  <div class="container">
    <ng-template>

    </ng-template>
    <alert *ngFor="let notification of notifications;let i = index"
           [type]="notification.type"
           dismissible="true"
           [dismissOnTimeout]="notification.dismissAfter"
           (onClose)="dismissNotification(i)">

      <button *ngIf="notification.details !== undefined" aria-label="Details" class="details" type="button"
              (click)="notification.detailsVisible = !notification.detailsVisible">
        <span class="fa-stack" tooltip="show more details">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">show details</span>
      </button>
      <!--<h1>{{i}}</h1>-->
      <span [innerHtml]="notification.message"></span>
      <pre *ngIf="notification.detailsVisible"><small>{{notification.details}}</small></pre>
    </alert>
  </div>
</div>
